<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://angularjs-webapi-crud-grid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>angularjs-webapi-crud-grid</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$angularjs-webapi-crud-grid</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PersonContext" Order="1" Enabled="False">
          <Destination Path="Data Source=qk1t9bpwtb.database.windows.net,1433;Initial Catalog=PersonContext;User ID=jonbgallant;Password=121873jgA#!4" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AngularJS_WebApi_EF.Models.PersonContext, AngularJS-WebApi-EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AngularJS-WebApi-EF-20130519152712.mdf;Initial Catalog=aspnet-AngularJS-WebApi-EF-20130519152712;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AngularJS-WebApi-EF-20130519152712;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-AngularJS-WebApi-EF-20130519152712.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PersonContext-Web.config Connection String">
      <ParameterValue>Data Source=qk1t9bpwtb.database.windows.net,1433;Initial Catalog=PersonContext;User ID=jonbgallant;Password=121873jgA#!4</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>